
.banner {
	width: 714px;
	height: 260px;
	background: url(../images/banner.jpg);
	position: relative; /*теперь точка отсчета на картинке*/
}

.banner h1 {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}