@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i');

body{
    margin: 0;
	/* background: url(../images/template.jpg) no-repeat top center; */
	font-family: 'Open Sans', sans-serif;
}
.container{
}
.container__header{}
.header{
    height: 932px;
    background: url(../images/header/bg.jpg) no-repeat top center;
    padding: 0.1%;
}
.container__fixed{
    max-width: 1170px;
    margin: 0 auto;
}
.container__layout{
    margin: 28px 0 0;
}
.layout{
    display: flex;
    justify-content: space-between;
}
.header__logo{}
.logo{}
.logo__link{}
.logo__img{}
.header__menu{
    margin: 3px 0 0;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.menu__item{
    margin: 0 0 0 75px;
}
.menu__item:first-child{
	margin-left: 0;
}
.menu__link{
    color: #fff;
    text-decoration: none;
}
.menu__link:hover{
	color: #dc0000;
}
.header__info{}
.info{
    text-align: center;
    color: #fff;
}
.info__collection{
    font-weight: 300;
    font-size: 31px;
    margin: 236px 0 0;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.info__heading{
    font-family: 'Lato';
    font-size: 60px;
    font-weight: 900;
    margin: 27px 0 27px 0;
    /* color: red; */
    letter-spacing: -1px;
    word-spacing: 2px;
}
.info__slogan{
    font-weight: 300;
    font-size: 30px;
}
.info__btn{
    width: 199px;
    margin: 46px auto 0;
}
.btn{
    display: block;
    border-radius: 4px;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 900;
}
.btn_white{
	color: #fff;
	border: 2px solid #fff;
}
.container__products{}
.products{}
.products__heading{}
.heading{}
.products__layout{}
.layout {}
.categories{}
.layout__col {}
.layout__col_33pc{}
.category {}
.category_men{}
.category__link{}
.sales{}
.sale-info {}
.sale-info_new-collection{}
.sale-info__link{}
.sale-info_spirit-collection{}